# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
/data/

# Build
/build/
/dist/

# IDE
/.vscode/
/.idea/

# OS
Thumbs.db
.DS_Store

# Spec files
*.spec

